@model IEnumerable<Orion.API.Models.UserViewModel>

@{
    ViewData["Title"] = "IndexPaciente";
}

<h1>IndexPaciente</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h2>Paciente</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                
                </dt>
            </dl>
        </div>
  
    </div>
</div>
<div>
   
 
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>