@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clinic Potato's Plastic'</h1>
    <p>Cirugia Plastica y Reconstructiva</a>.</p>
    <img src="~/images/Potato.png" />
</div>
